.block
{
    
    border-style:solid;
    border-color:green;
    margin:35px;
}
.block2
{
    display: block;
    border-style: solid;
    margin: 110px;
    border-color: green;
    color: red;
    outline: 8px solid red;
    outline-offset: 70px;
}
.box
{
    float: left;
    width: 40%;
    box-sizing: border-box;
    border: 1px dotted red;
}
.title
{
    color: crimson;
    text-align: center;
    border-bottom: 6px solid chocolate;
    background-color: white; 
}
.block3
{
    display: block;
    border-style: dashed;
    border-width: 4px;
    margin: 110px;
    padding: 25px;
    border-color: blue;
    color: red;
    outline: 8px solid red;
    outline-offset: 70px;
    outline
}
.green
{
    display: block;
    border: 3px dashed green;
    margin: 1em;
    padding: 1em;
    border-color: green;
}
code
{

    background: #eaeaed;
    color: #666;
    font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
    display: inline-block;
    height: 70px;
    margin: 0 14px;
    padding-top: 20px;
    text-align: center;
    width: 90px;
}
.box 
{
    font-size: 1.2em;
    height: 5em;
}
.row
{
    display: flex
    flex-flow: row-reverse;
}
.col
{
    display: flex
    flex-flow: column-reverse;

}
.raudur
{
    background: red;
}
.gulur
{
    background: yellow;
}
.graenn
{
    background: green;
}
.bla
{
    background: blue;
}
.row2
{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.r
{
    display: inline-block;
    font-size: 20px;
    padding: 30px;
    border: 3px dashed red; 
}
.r
{
    display: inline-block;
    font-size: 20px;
    padding: 30px;
    border: 3px dashed red; 
}
.inlineblock
{
    display:block;
}
.blue1
{
    border: 2px dotted blue;
}
.blue2
{
    border: 2px dotted blue;
}
.blue3
{
    border: 2px dotted blue;
}
.blue4
{
    border: 2px dotted blue;
}
.red1
{
    border: 2px dotted red;
}
.red2
{
    border: 2px dotted red;
}
.red3
{
    border: 2px dotted red;
}
.red4
{
    border: 2px dotted red;
}