.blue
{
    color: blue;
}
.palev
{
    color: palevioletred;
}
.red
{
    color: red;
}
.title
{
    color: blue;
    display: table;
        width: 25%;
        text-align: center;
}
.green
{
    color: green;
}
.ReD{

    color: red;
    display: table;
    width: 110%;

}